In [1]:
import json
import pandas as pd

# read video data
df_vids = pd.read_csv('../Data/USvideos.csv.zip', compression='zip')

# read category data
data_cats = json.load(open('../Data/US_category_id.json', 'r'))
df_cat = pd.DataFrame(data_cats)
df_cat['category'] = df_cat['items'].apply(lambda x: x['snippet']['title'])
df_cat['id'] = df_cat['items'].apply(lambda x: int(x['id']))
df_cat_drop = df_cat.drop(columns=['kind', 'etag', 'items'])

# join data
df_join = df_vids.merge(df_cat_drop, left_on='category_id', right_on='id')

df_join.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,category,id
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,People & Blogs,22
1,0mlNzVSJrT0,17.14.11,Me-O Cats Commercial,Nobrand,22,2017-04-21T06:47:32.000Z,"cute|""cats""|""thai""|""eggs""",98966,2486,184,532,https://i.ytimg.com/vi/0mlNzVSJrT0/default.jpg,False,False,False,Kittens come out of the eggs in a Thai commerc...,People & Blogs,22
2,STI2fI7sKMo,17.14.11,"AFFAIRS, EX BOYFRIENDS, $18MILLION NET WORTH -...",Shawn Johnson East,22,2017-11-11T15:00:03.000Z,"shawn johnson|""andrew east""|""shawn east""|""shaw...",321053,4451,1772,895,https://i.ytimg.com/vi/STI2fI7sKMo/default.jpg,False,False,False,Subscribe for weekly videos ▶ http://bit.ly/sj...,People & Blogs,22
3,KODzih-pYlU,17.14.11,BLIND(folded) CAKE DECORATING CONTEST (with Mo...,Grace Helbig,22,2017-11-11T18:08:04.000Z,"itsgrace|""funny""|""comedy""|""vlog""|""grace""|""helb...",197062,7250,217,456,https://i.ytimg.com/vi/KODzih-pYlU/default.jpg,False,False,False,Molly is an god damn amazing human and she cha...,People & Blogs,22
4,8mhTWqWlQzU,17.14.11,Wearing Online Dollar Store Makeup For A Week,Safiya Nygaard,22,2017-11-11T01:19:33.000Z,wearing online dollar store makeup for a week|...,2744430,115426,1110,6541,https://i.ytimg.com/vi/8mhTWqWlQzU/default.jpg,False,False,False,I found this online dollar store called ShopMi...,People & Blogs,22

In [2]:
# aggregate likes and dislikes by category
df_agg = df_join[['category', 'likes', 'dislikes']].groupby('category').sum()

# calculate ratio
df_agg['ratio_likes_dislikes'] = df_agg['likes'] / df_agg['dislikes']

df_agg.head()

                      likes  dislikes  ratio_likes_dislikes
category
Autos & Vehicles    4245656    243010             17.471116
Comedy            216346746   7230391             29.921860
Education          49257772   1351972             36.434018
Entertainment     530516491  42987663             12.341134
Film & Animation  165997476   6075148             27.324022

In [3]:
# sort the ratio
df_agg.sort_values('ratio_likes_dislikes', ascending=False)

                            likes  dislikes  ratio_likes_dislikes
category
Shows                     1082639     24508             44.174922
Pets & Animals           19370702    527379             36.730135
Education                49257772   1351972             36.434018
Comedy                  216346746   7230391             29.921860
Howto & Style           162880075   5473899             29.755769
Music                  1416838584  51179008             27.683979
Film & Animation        165997476   6075148             27.324022
Sports                   98621211   5133551             19.211110
People & Blogs          186615999  10187901             18.317414
Science & Technology     82532638   4548402             18.145414
Autos & Vehicles          4245656    243010             17.471116
Travel & Events           4836246    340427             14.206411
Entertainment           530516491  42987663             12.341134
Gaming                   69038284   9184466              7.516853
Nonprofits & Activism    14815646   3310381              4.475511
News & Politics          18151033   4180049              4.342301

In [4]:
# verify data
import pandas as pd
pd.read_csv('../Data/Ratio_Likes_Dislikes.csv')

,Unnamed: 0,category,likes,dislikes,ratio_likes_dislikes
0,0,Pets & Animals,49724.0,623.0,79.813804
1,1,Education,45209.0,890.0,50.796629
2,2,Gaming,7683.0,164.0,46.847561
3,3,Science & Technology,160742.0,4072.0,39.474951
4,4,Comedy,860087.0,22772.0,37.769498
5,5,Music,4722174.0,140899.0,33.514603
6,6,People & Blogs,326769.0,11033.0,29.617420
7,7,Autos & Vehicles,20498.0,728.0,28.156593
8,8,Travel & Events,1661.0,70.0,23.728571
9,9,Entertainment,858276.0,42437.0,20.224710
10,10,Film & Animation,92770.0,5994.0,15.477144
11,11,Howto & Style,439738.0,33800.0,13.010000
12,12,Sports,28449.0,3870.0,7.351163
13,13,News & Politics,23855.0,3524.0,6.769296